:root {
    --flashback-pink: #D9A0AF;
    --flashback-blue: #0378A6;
    --flashback-blue_2: #739FD9;
    --flashback-orange: #BF5F56;
    --flashback-green: #012606;
}


/*--- Flashback Season ---*/

.flashback-title {
    text-align: center;
    padding-top: 2em;
    color: var(--flashback-green);
    letter-spacing: 8px;
    font-style: italic;
}

.flashback-main {
    margin: 0;
    background-image: linear-gradient(var(--flashback-blue_2) 20%, var(--flashback-pink)50%);
    height: 200vh;
}

.flashback-season {
    display: flex;
    flex-direction: row-reverse;
    margin: 4em 4em 4em 0em;
}

.description {
    width: 80%;
}

.description p {
    color: var(--default-black);
    background-color: var(--flashback-pink);
    margin: 4em 2em 0 4em;
}

.btn-season {
    margin: 4em;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-exploreTaurus a,
.btn-flashback a {
    color: var(--flashback-green);
}

.btn-season button {
    font-size: 18px;
    padding: 12px;
    color: var(--flashback-green);
    border: 2px solid var(--flashback-green);
    cursor: pointer;
    background: none;

    position: relative;
    transition: 1s all ease;
}

.btn-exploreTaurus::before,
.btn-flashback::before{
    color: black;
    content: '';
    position: absolute;
    left: 0%;
    top: 90%;
    background-color: var(--flashback-green);
    

    transition: all .5s ease;
    z-index: 1;
}

.btn-exploreTaurus::before,
.btn-flashback::before
 {
    width: 0;
    height: 10%;
}

.btn-exploreTaurus:hover::before,
.btn-flashback:hover::before {
    width: 100%;
}


/* --- Video --- */

.flashback-trailer {
    width: 100vh;
}


/* --- Audio Controls --- */

.audio-controls {
    margin: 1em;
    color: var(--flashback-orange);
}

.audio-controls i {
    position: absolute;
    background-color: var(--flashback-blue);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}

.fa-solid.fa-volume-high {
    display: flex;
}

.fa-solid.fa-volume-xmark {
    display: none;
}


/*---scrollbar---*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-image: linear-gradient(var(--flashback-blue), var(--flashback-pink));
}


/*---Products Section---*/

.products-section {
    margin: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-section h1 {
    padding: 2em;
}

.some-products {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 8px;
}

.some-products h2, p{
    padding: 8px;
    cursor: pointer;
}

.clothing {
    width: 300px;
    height: 500px;
    background-image: radial-gradient(#ccc, white);
    padding: 8px;
    cursor: pointer;
}

.clothing:hover {
    box-shadow: 0px 1px 5px var(--light-brown);
    filter: contrast(90%);
}

.product-info {
    display: flex;
    flex-direction: column;
}

