.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    margin-top: 4em;
}

.main-image {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    object-fit: cover;
}

.main-image img {
    object-fit: cover;
    width: 385px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px var(--black-default);
    cursor: pointer;
}

.hover-effect:hover {
    opacity: 50%;
}


/* -- video -- */



.main-video {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px var(--black-default);
    cursor: pointer;
}
   

.main-video h3 {
    color: white;
    padding: 22px;
    position: absolute;
    letter-spacing: 8px;
}

video {
    object-fit: cover;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000025;
}



/* -- male-female selection -- */

.male-female {
    display: flex;
    justify-content: center;
    gap: 50px;
    object-fit: cover;
    width: 1300px;
    height: 400px;
}

.female-img img{
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.male-img img{
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.female-img h3{
    padding: 22px;
    color: white;
    position: absolute;
    cursor: pointer;
    letter-spacing: 8px;
}

.male-img h3{
    padding: 22px;
    color: white;
    position: absolute;
    cursor: pointer;
    letter-spacing: 8px;
}

/* --- Flashback Season ---*/


.main-flashback-video {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 3em 0 3em 0;
    cursor: pointer;
}


.main-flashback-video h3 {
    color: white;
    padding: 22px;
    position: absolute;
    letter-spacing: 8px;
}

.main-flashback-video video {
    width: 100%;
}

/* ------ Responsiviness ----- */ 
@media (max-width: 1250px) {
    
    header {
        width: 1250px;
    }
        

    header h1 {
        font-size: 35px;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
    } 
    
    h3 {
        font-size: 20px;
    }

    .content {
        width: 1250px;
        
    }

    .main-image {
        gap: 20px;
    }

    .main-image img {
        width: 320px;
    }

    .main-video {
        width: 1000px;
    }

    .main-video video {
        width: 100%;
    }

    .male-female {
        width: 1000px;
    }

    .female-img,
    .male-img {
        width: 500px;
    }

    .female-img img {
        width: 100%;
    }
    
    .male-img img {
        width: 100%;
    }

    .main-flashback-video {
        width: 1000px; 
        margin-top: 0;
    }

    footer {
        width: 1250px;
    }
}

@media (max-width: 768px) {
    header {
        height: 20vh;
    }

    header h1 {
        font-size: 70px;
    }

    #title {
        display: flex;
        align-items: center;
    }

    nav {
    align-items: center;
    }

    nav h3 {
        font-size: 27px;
    }

    nav ul li i{
        font-size: 30px;
    }   

    .main-video h3 {
        font-size: 36px;
    }

    .female-img h3 {
        font-size: 36px;
    }

    .male-img h3 {
        font-size: 36px;
    }

    .main-flashback-video h3 {
        font-size: 36px;
        text-align: center;
    }

    footer {
        height: 30vh;
    }

    .footer-content h1{
        padding-top: 20px;
        font-size: 90px;
    }

    .footer-content ul {
        gap: 50px;
    }
    .footer-content ul li {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    header {
        height: 30vh;
    }

    nav {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .icons-header ul {
        margin-left: 50px;
        gap: 50px;
    }

    .icons-header i {
        font-size: 50px;
    }
    
    .categories {
        display: none;
    }

    .main-image {
        flex-wrap: wrap;

    }
    
    .main-img-first,
    .main-img-second {
        width: 450px;
    }

    .main-img-third {
        width: 920px;
    }

    .main-image img {
        width: 100%;
    }

    .main-video {
        width: 920px;
    }

    .male-female {
        height: 500px;
    }

    .female-img,
    .male-img {
        width: 440px;
        height: 500px;
    }

    .female-img img,
    .male-img img {
        height: 500px;
    }
        

    footer {
        height: 100vh;
    }
    
    .footer-content h1 {
        font-size: 100px;
    }

    .footer-content ul {
        flex-direction: column;
    }

    .footer-content ul li {
        font-size: 50px;
    }
}

@media (max-width: 375px) {
    header {
        height: 40vh;
    }

    header h1 {
        font-size: 100px;
    }

    .main-video h3 {
        font-size: 50px;
    }

    .female-img h3,
    .male-img h3 {
        font-size: 50px;
    }

    .female-img img,
    .male-img img {
        height: 500px;
    }

    .footer-content h1 {
        font-size: 150px;
    }

    .footer-content ul li {
        font-size: 50px;
    }
}






