@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
}

body {
    background-color: var(--black-default);
    height: 100vh;
}

:root  {
    --black-default: #0D0D0D;
    --grey-default: #ddd
    --light-grey:#594F57;
    --dark-grey: #3F3A40;
    --light-brown: #D9A87E;
    --dark-brown: #734022;

    --font-default: 'Raleway', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li { 
    list-style-type: none;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

header {
    padding: 1em;
    display: flex;
    height: 10vh;
    background-color: var(--black-default);
    border-bottom: 1px solid var(--dark-grey)
}

header h1{
    color: var(--light-brown);
    font-size: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: white;
}

ul{
    height: 20%;
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
}

nav h3:hover,
nav ul li:hover {
    color: var(--light-brown);
}

.icons-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categories {
    padding-top: 20px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-size: 14px;
}

.search-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.search-div input {
    padding: 5px;
    border: 1px solid;
    background-color: var(--dark-grey);
    color: white;
    border-radius: 5px;
    display: none;
}






