
/*--- Taurus Season ---*/

.title {
    color: #Ccc;
    text-align: center;
    margin-top: 2em;
}

.taurus-season {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 4em 0 0 4em;
}

.taurus-season h1 {
    margin: 1em;
    color: white;
}

.description p {
    color: #ccc;
    width: 80%;
    padding: 4em 0 0 4em;
}

.btn-season {
    margin: 4em;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-exploreTaurus a,
.btn-flashback a {
    text-decoration: none;
    color: #ccc;
}

.btn-season button {
    font-size: 18px;
    padding: 12px;
    color: var(--default-black);
    border: 1px solid #ccc;
    cursor: pointer;
    background: none;

    position: relative;
    overflow: hidden;
    transition: 1s all ease;
}

.btn-exploreTaurus:hover,
.btn-flashback:hover {
    color: var(--default-black);
}

.btn-exploreTaurus::before,
.btn-flashback::before{
    background: var(--light-brown);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all .5s ease;
}

.btn-exploreTaurus::before,
.btn-flashback::before
 {
    width: 0;
    height: 100%;
}

.btn-exploreTaurus:hover::before,
.btn-flashback:hover::before {
    width: 100%;
}
